
<div class="content">
    <h1 class="my-3">Offers:</h1>
    <br>
    <div class="news">
        <img class="newsImg" src="https://placehold.co/1200x500" alt="imaginePromo">
    </div>
</div>

<div class="products" id="products">
    <div class="product" id="product1">
        <img class="productImg" src="https://placehold.co/500x500" alt="imagineProdus" width="300" height="300">
        <h3 class="productName">Product name</h3>
        <p class="productPrice"><strong>Price</strong></p>
        <button class="productBtn"><em>Add to cart</em></button>
    </div>
    <div class="product" id="product2">
        <img class="productImg" src="https://placehold.co/500x500" alt="imagineProdus" width="300" height="300">
        <h3 class="productName">Product name</h3>
        <p class="productPrice"><strong>Price</strong></p>
        <button class="productBtn"><em>Add to cart</em></button>
    </div>
    <div class="product" id="product3">
        <img class="productImg" src="https://placehold.co/500x500" alt="imagineProdus" width="300" height="300">
        <h3 class="productName">Product name</h3>
        <p class="productPrice"><strong>Price</strong></p>
        <button class="productBtn"><em>Add to cart</em></button>
    </div>
</div>



<div class="YTsiGoogle">
    <h2>Videoclip Promo</h2>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UHgos9wIeeY?si=YuGgN3uaS5lIVMh3"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>

        </iframe>
    </div>

    <h2>Ne găsești aici:</h2>
    <div class="map-wrapper">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d439.53169223792884!2d28.840734162507104!3d47.01809845404951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c313a62be03%3A0xcf051884b288e0d4!2sDarwin!5e1!3m2!1sen!2s!4v1758571914149!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>



